html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[v-cloak] {
    display: none;
}

#app {
    width: 700px;
    margin: 0 auto;
}

.textSection {
    margin: 30px 0;
}

.textSection h3 {
    margin: 0;
}

.textSection table {
    border: 1px solid black;
}

td {
    padding-bottom: 10px;
}

.sentence {
    max-width: 500px;
}

input[type=number] {
    width: 50px;
}
