{% raw %}
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
{% endraw %}
{% if dev %}
<link rel="stylesheet" href="anno.css">
{% else %}
<link rel="stylesheet" href="https://s3.amazonaws.com/megacomplete.net/anno/anno.css">
{% endif %}
{% raw %}
<div id="app" v-cloak>

<div style="background: yellow; padding: 5px;">
    <h3>Instructions</h3>
    <p>Read the restaurant reviews below. Each review has been split automatically into sentences, one sentence per line.

    <b>Mark how much positive and how much negative sentiment each sentence has</b>, on a scale from <b>0 to 2</b>:</p>
<ul>
    <li><b>Positive</b>: 0 = no positive sentiment, 1 = weak positive sentiment, 2 = clear positive sentiment</li>
    <li><b>Negative</b>: 0 = no negative sentiment, 1 = weak negative sentiment, 2 = clear negative sentiment</li>
    <li>Some sentences might be nonsense. If so, check the "nonsense" box. (Typos and minor grammar mistakes aren't nonsense.)</li>
    <li>A review that is overall very positive may have some negative content, and vice versa.</li>
    <li>Please fill in all responses, even zeros. You can use the Tab key to do this fast.</li>
</ul>
<p>Examples:</p>
<ul>
    <li>"The food is pretty good.": pos=2, neg=0</li>
<li>"The food was terrible but the service made up for it": pos=2, neg=2</li>
<li>"My only complaint was the noise level.": pos=1, neg=2 (although mainly negative, it has some weak positive because it's the <em>only</em> complaint)</li>
<li>"Each entree comes with two sides": pos=0, neg=0 (just a statement of fact)</li>
<li>"Great" (in a context where it's obviously sarcastic) pos=0, neg=2</li>
</ul>
</div>

    <div v-for="(text, textIdx) in texts" class="textSection">
        <h3>Review {{textIdx + 1}}</h3>
        <table>
            <thead>
                <tr>
                    <th>Sentence</th>
                    <th>Nonsense?</th>
                    <th>Positive</th>
                    <th>Negative</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(sent, sentIdx) in text.data">
                    <td class="sentence">{{sent.sentence}}</td>
                    <td><input type="checkbox" v-model.number="texts[textIdx].data[sentIdx].nonsense"></td>
                    <td v-if="!texts[textIdx].data[sentIdx].nonsense"><input type="number" min="0" max="2" v-model.number="texts[textIdx].data[sentIdx].pos" /></td>
                    <td v-if="!texts[textIdx].data[sentIdx].nonsense"><input type="number" min="0" max="2" v-model.number="texts[textIdx].data[sentIdx].neg" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="hidden" name="results" v-bind:value="JSON.stringify(texts)">

<p>We&#39;re still refining this HIT, so we&#39;d appreciate your feedback: are the instructions clear? How long did it actually take you? Is the payment fair? Any technical difficulties? Anything else?</p>
<textarea cols="80" name="feedback" placeholder="totally optional feedback" rows="4"></textarea>

</div>

{% endraw %}
<script>
var taskData = {% if dev %}{{task}}{% else %}${task}{% endif %};
</script>
{% if dev %}
<script src="anno.js"></script>
{% else %}
<script src="https://s3.amazonaws.com/megacomplete.net/anno/anno.js"></script>
{% endif %}
