{% raw %}
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
{% endraw %}
<link rel="stylesheet" href="{{css}}">
{% raw %}

    <div class="consent">
        <h1>Informed Consent for Academic Research</h1>
        <p>
            Study Title: Predictive typing with long suggestions
        </p>
        <p>
            Researcher: Kenneth C. Arnold
        </p>

    <p>
      <b>
        Participation is voluntary
      </b><br>
      It is your choice whether or not to participate in this research. If
      you choose to participate, you may change your mind and leave the study at
      any time. Refusal to participate or stopping your participation will
      involve no penalty or loss of benefits to which you are otherwise
      entitled. Participants must be adults 18+.
    </p>
    <p>
      <b>
          What is the purpose of this research?
      </b><br>
      We are studying systems that offer shortcuts while someone is typing to
      find out how the system's design affects the writing process, writing
      outcome, and the author's subjective experience, and how psychological
      factors may influence those effects.
    </p>
    <p>
      <b>
          What can I expect if I take part in this research? What is the time
          commitment?
      </b><br>
      You will read restaurant reviews written by others and answer questions about them.
      We expect this task to take between 5 and 20 minutes.
    </p>
    <p>
      <b>
          What are the risks and possible discomforts?
      </b><br>
      There are no anticipated risks beyond normal use of a computer.
    </p>
    <p>
      <b>
          Are there any benefits from being in this research study?
      </b><br>
      We cannot promise any benefits to you or others from your taking part in
      this research. The results of this research may inform future advances in
      computer systems that assist writing.
    </p>
    <p>
      <b>
          Will I be compensated for participating in this research?
      </b><br>
      The target payment for this task is $9/hr. The reward for a specific study will be determined based on the
      estimated time to complete the task at $9/hr.
    </p>
    <p>
      <b>
          If I take part in this research, how will my privacy be protected?
          What happens to the information you collect?
      </b><br>
      We will not record any personally identifying information. De-identified
      data may be shared with other researchers and other participants in this
      study.
      <br><br>
      The MTurk platform provides access to your worker ID, which in some
      cases can be mapped to your name and work history. We are relying on the
      security of that platform to maintain your confidentiality. To partially
      mitigate the risk of re-identification, we will assign you a random
      identifier specific to this study and delete the mapping between this
      identifier and your worker ID 6 months after the experiment concludes.
      But if the security of the MTurk platform or our account is breached, it
      may be possible to re-identify your work, as with any MTurk task.
      <b>Please make sure to mark your Amazon Profile as private</b> if you do
      not want it to be found from your Mechanical Turk Worker ID.
    </p>
    <p>
      <b>
          If I have any questions, concerns or complaints about this research
          study, who can I talk to?
      </b><br>
      The researcher for this study is Kenneth C. Arnold who can be reached at
      kcarnold@seas.harvard.edu, 617-299-6536, or 33 Oxford St MD 240, Cambridge
      MA 02138. The faculty sponsor is Krzysztof Z. Gajos who can be reached at
      kgajos@seas.harvard.edu
    </p>
    <ul style="margin-top: 0in;" type="disc">
      <li>If you have questions, concerns, or complaints,</li>
      <li>If you would like to talk to the research team,</li>
      <li>If you think the research has harmed you, or</li>
      <li>If you wish to withdraw from the study.</li>
    </ul>
    <p>
      This research has been reviewed by the Committee on the Use of Human
      Subjects in Research at Harvard University. They can be reached at
      617-496-2847, 1350 Massachusetts Avenue, Suite 935, Cambridge, MA 02138,
      or cuhs@harvard.edu for any of the following:
    </p>
    <ul style="margin-top: 0in;" type="disc">
      <li>
        If your questions, concerns, or complaints are not being answered by the
        research team,
      </li>
      <li>If you cannot reach the research team,</li>
      <li>If you want to talk to someone besides the research team, or</li>
      <li>
        If you have questions about your rights as a research participant.
      </li>
    </ul>
</div>

<div id="app" v-cloak>

<div style="background: yellow; padding: 5px;">
    <h3>Instructions</h3>

    <p><b>Task</b>: You'll see two restaurant reviews at a time. For each pair, there will be a set of statements. For each statement, pick the review that it applies better to.</p>

    <p>Do this for each of the {{pairs.length}} pairs.</p>

</div>

    <div v-for="(pair, pairIdx) in pairs" class="pair">
        <div v-if="pair.queries[0].selected === null || pair.check_selected !== null">
            <label v-for="(text, textIdx) in pair.texts" class="text">
                <b>{{names[textIdx]}}</b>:
                {{text.final_text}}
            </label>
            <p>Which review does each statement apply better to?</p>
            <table>
              <thead>
                <tr><th></th><th v-for="name in names">{{name}}</th></tr>
              </thead>
              <tbody>
                <tr v-for="query in pair.queries">
                  <td>{{query.text}}</td>
                  <td v-for="text in pair.texts">
                    <input type="radio" v-model="query.selected" v-bind:value="text.idx">
                  </td>
                </tr>
              </tbody>
            </table>
            <p v-if="pair.check_selected !== null">(Your answer for the attention-check was recorded; you may change your answers above at any time.)</p>
        </div>
        <div v-else>
            <p>Which of the following phrases was in one of those two reviews? (incorrect answers will not result in rejection)</p>
            <label v-for="(text, key) in pair.check_texts">
                <input type="radio" v-model="pair.check_selected" v-bind:value="key">
                <span>{{text}}</span>
            </label>
        </div>
    </div>

    <input type="hidden" name="results" v-bind:value="JSON.stringify(pairs)">

<p>We&#39;re still refining this HIT, so we&#39;d appreciate your feedback: are the instructions clear? How long did it actually take you? Is the payment fair? Any technical difficulties? Anything else?</p>
<textarea cols="80" name="feedback" placeholder="totally optional feedback" rows="4"></textarea>

</div>

{% endraw %}
<script>
var taskData = {% if dev %}{{task}}{% else %}${task}{% endif %};
</script>
<script src="{{js}}"></script>
