{% raw %}
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
{% endraw %}
{% if dev %}
<link rel="stylesheet" href="persuasive.css">
{% else %}
<link rel="stylesheet" href="https://s3.amazonaws.com/megacomplete.net/anno/persuasive.css">
{% endif %}
{% raw %}
<div id="app" v-cloak>

<div style="background: #ffc83e; padding: 10px;">
    <h1>Imaginary raffle for restaurant gift cards</h1>

    <p>There will be four reviews, each for a different restaurant. For each restaurant, write down how much you would pay for a $50 gift card to it, assuming you lived nearby. (Each gift card has a secret price; if your price is above the secret price, you get to buy it at the price you named, otherwise you pay nothing and get nothing.)</p>

    <p>If you don't think you'd ever go there, you'd answer $0 because the gift card would be worthless to you. If you think you'd really like it, you'd answer close to $50 to maximize your chances of winning.</p>
</div>

    <div class="reviews">
        <div v-for="(text, textIdx) in texts" class="restaurant">
            <p>{{text.final_text}}</p>
            <hr>
            <p>How much would you pay for a $50 gift card for this restaurant?
            $<input v-model.number="text.votes" type="number" min="0" max="50" step="0.01">
        </div>
    </div>

    <p>(Unfortunately, this is just an imaginary raffle. Sorry to make you hungry!)</p>

    <br><br><br>

    <input type="hidden" name="results" v-bind:value="JSON.stringify(texts)">

<p>We&#39;re still refining this HIT, so we&#39;d appreciate your feedback: are the instructions clear? How long did it actually take you? Is the payment fair? Any technical difficulties? Anything else?</p>
<textarea cols="80" name="feedback" placeholder="totally optional feedback" rows="4"></textarea>

</div>

{% endraw %}
<script>
var taskData = {% if dev %}{{task}}{% else %}${task}{% endif %};
</script>
{% if dev %}
<script src="persuasive.js"></script>
{% else %}
<script src="https://s3.amazonaws.com/megacomplete.net/anno/persuasive.js"></script>
{% endif %}
