/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*** Overall layout ****/
.ExperimentScreen {
    height: calc(100vh - 75px);
    display: flex;
    flex-flow: column nowrap;
}

.EditPage {
    height: 100vh;
}

.EditPage textarea {
    width: 100%;
    height: 100%;
}

.clientId {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 6px;
}

/*** TEXT ***/
.CurText {
    white-space: pre-line;
    flex: 1 1 auto;
    padding: 1px;
    overflow: hidden;
}

.Cursor {
    display: inline-block;
    width: 2px;
    margin: 0 -2px -3px 0;
    background: blue;
    height: 17px;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


/***** KEYBOARD ****/
.Keyboard {
    height: 215px;
    background: #D9D8DA;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}


.row {
    display: flex;
    justify-content: space-around;
}

.row:nth-child(2) {
    margin-left: 18px;
    margin-right: 18px;
}

.key {
    display: block;
    background: white;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 1px 1px;
    /* position: absolute; */
    flex: 2 0 0;
    margin: 0 4px;
}


.key[data-key=" "] {
    flex: 12 0 auto;
}

.key[data-key="'"], .key[data-key="?"] {
    flex: 1 1 0;
}

.key[data-key=\A] {
    background-color: #5252FF;
    color: white;
    flex-basis: auto;
}

.key-reverse {
    background-color: #ACB4BD;
}


/******* SUGGESTIONS BAR *****/

.SuggestionsBar {
    background-color: #ADB5BD;
    height: 42px;
    user-select: none;
}

.Suggestion {
    display: inline-block;
    color: white;
    border-right: 1px solid white;
    text-align: left;
    font-family: sans-serif;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 0 4px;
    line-height: 30px;
    cursor: pointer;
    width: 33%;
    height: 100%;
}

.Suggestion:last-child {
    border-right: none;
}

.Suggestion.invalid {
  color: #dedede;
}

.preview {
  color: #dedede;
  margin-left: 4px;
  font-weight: 100;
  font-size: 12px;
}